@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#social-links {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#social-links a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

#social-links a:hover {
  color: #ddd;
}